<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://sab-project-8pv7.vercel.app" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <iisnode
      nodeProcessCommandLine="node.exe --max-old-space-size=4096"
      watchedFiles="*.js;web.config"
      loggingEnabled="true"
    />
  </system.webServer>
</configuration>